@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Harlem';
  src: url('/fonts/9681325ee75333eed6625dc89e287d7e.woff2') format('woff2'),
       url('/fonts/9681325ee75333eed6625dc89e287d7e.woff') format('woff'),
       url('/fonts/9681325ee75333eed6625dc89e287d7e.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}